<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | SIH3 Papua</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Sih3Papua.styles.css" asp-append-version="true" /> *@

    @* <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> *@
    <!-- Ganti Font Awesome 4.7 dengan versi terbaru -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

	<link rel="stylesheet" href="~/css/animate.css">
	<link rel="stylesheet" href="~/css/magnific-popup.css">

	<link rel="stylesheet" href="~/css/ionicons.min.css">

	<link rel="stylesheet" href="~/css/flaticon.css">
	<link rel="stylesheet" href="~/css/icomoon.css">
	<link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @RenderBody()

    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
		</svg>
    </div>

    <script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.easing.1.3.js"></script>
	<script src="~/js/jquery.waypoints.min.js"></script>
	<script src="~/js/jquery.stellar.min.js"></script>
	<script src="~/js/jquery.animateNumber.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="~/js/google-map.js"></script>
	<script src="~/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>