@{
    ViewBag.Title = "Profile";
}

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h2 class="card-title mb-3">Tentang Kami</h2>

                    <p class="card-text">
                        <a href="https://simtaru.papua.go.id/layers/geonode_data:geonode:POTENSI_AIR_TANAH_AR_250K_PAPUA"
                            target="_blank">
                            Peta Potensi Air Tanah (ESDM, Penanaman Modal dan Pelayanan Terpadu Satu Pintu Provinsi
                            Papua)
                        </a>
                    </p>
                </div>
            </div>
            <div class="mb-4 text-center">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/ITuYe3y1oc0" title="YouTube video"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="mb-4 text-center">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/eeN9uAfW9Ds" title="YouTube video"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="card-body text-center">
                <h2 class="card-title mb-4">Kolaborasi</h2>
                <div class="d-flex flex-row justify-content-center align-items-center gap-4 flex-wrap">
                    <div class="d-flex flex-column align-items-center">
                        <img src="~/images/logo-pu.png" alt="BWS Papua" class="mb-2"
                            style="width:60px; height:60px; object-fit:contain;">
                        <div>
                            <h5 class="mb-0">BWS Papua</h5>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <img src="~/images/logo-bmkg.png" alt="BMKG" class="mb-2"
                            style="width:60px; height:60px; object-fit:contain;">
                        <div>
                            <h5 class="mb-0">BMKG</h5>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <img src="~/images/logo-esdm.png" alt="Dinas ESDM" class="mb-2"
                            style="width:60px; height:60px; object-fit:contain;">
                        <div>
                            <h5 class="mb-0">Dinas ESDM</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>