@{
    ViewData["Title"] = "Home";
}

<div class="hero-wrap">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(images/carousel-1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>Sumber Daya Air</h2>
                            <h1 class="mb-3">Hidrologi</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(images/carousel-2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>Sumber Daya Air Tanah</h2>
                            <h1 class="mb-3">Hidrogeologi</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(images/carousel-3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h2>Prediksi Cuaca dan Iklim</h2>
                            <h1 class="mb-3">Hidrometeorologi</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container-lg">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Our Article</span>
                <h2>Recent Article</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded"
                        style="background-image: url('images/image_1.jpg');">
                    </a>
                    <div class="text mt-3 text-center">
                        <div class="meta mb-2">
                            <div><a href="#">January 30, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the
                                blind texts</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded"
                        style="background-image: url('images/image_2.jpg');">
                    </a>
                    <div class="text mt-3 text-center">
                        <div class="meta mb-2">
                            <div><a href="#">January 30, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the
                                blind texts</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded"
                        style="background-image: url('images/image_3.jpg');">
                    </a>
                    <div class="text mt-3 text-center">
                        <div class="meta mb-2">
                            <div><a href="#">January 30, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the
                                blind texts</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded"
                        style="background-image: url('images/image_4.jpg');">
                    </a>
                    <div class="text mt-3 text-center">
                        <div class="meta mb-2">
                            <div><a href="#">January 30, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the
                                blind texts</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container-lg">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Our News</span>
                <h2>Recent News</h2>
            </div>
        </div>
        <div class="row">
            <!-- Gambar Besar di Kiri -->
            <div class="col-md-6 mb-4">
                <div class="blog-entry h-100">
                    <a href="images/bg_1.jpg" class="d-block h-100 rounded overflow-hidden">
                        <img src="images/image_4.jpg" alt="News Image 1"
                            class="img-fluid h-100 w-100 object-fit-cover rounded">
                    </a>
                </div>
            </div>

            <!-- Dua Gambar Kecil di Kanan -->
            <div class="col-md-6 d-flex flex-column justify-content-between">
                <div class="blog-entry mb-5 flex-fill">
                    <a href="images/bg_2.jpg" class="d-block h-100 rounded overflow-hidden">
                        <img src="images/bg_2.jpg" alt="News Image 2"
                            class="img-fluid h-100 w-100 object-fit-cover rounded">
                    </a>
                </div>
                <div class="blog-entry flex-fill">
                    <a href="images/bg_3.jpg" class="d-block h-100 rounded overflow-hidden">
                        <img src="images/bg_3.jpg" alt="News Image 3"
                            class="img-fluid h-100 w-100 object-fit-cover rounded">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container-lg">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">SIH3 KEPRI</span>
                <h2>Buletin</h2>
            </div>
        </div>
        <!-- Semua gambar dalam satu row agar berjajar horizontal -->
        <div class="row d-flex justify-content-start">
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <img src="images/buletin_1.jpg" class="img-fluid rounded" alt="Buletin Juni 2025">
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <img src="images/buletin_1.jpg" class="img-fluid rounded" alt="Buletin Maret 2025">
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <img src="images/buletin_1.jpg" class="img-fluid rounded" alt="Buletin Februari 2025">
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <img src="images/buletin_1.jpg" class="img-fluid rounded" alt="Buletin Januari 2025">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container-lg">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Kolaborasi SIH3</span>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <p><img src="~/images/logo-pu.png" alt="Logo BWS K1" style="height: 50px; margin-right: 15px;">
                        Lorem
                    </p>
                </div>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <p><img src="~/images/logo-bmkg.png" alt="Logo BWS K1" style="height: 50px; margin-right: 15px;">
                        Hehehehehe</p>
                </div>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <p><img src="~/images/logo-qw3.png" alt="Logo BWS K1" style="height: 50px; margin-right: 15px;">
                        Hehehehehe</p>
                </div>
            </div>
        </div>
    </div>
</section>